<div ng-controller="CreerEvenementController">

    <form name="formCreerEvenement" role="form">

        <div class="container-fluid panel panel-default">
            <div class="panel-heading">Jeu</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="type-jeu">Type de jeu</label>
                            <select id="type-jeu" ng-model="typeDeJeu" ng-options="typeJeu for typeJeu in typesDeJeu">
                                <option value="">-- Choix du Type --</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="nom-jeu">Nom du jeu</label>
                            <input type="text" id="nom-jeu" class="form-control" ng-model="nomJeu">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid panel panel-default">
            <div class="panel-heading">Evénement</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="adresse">Adresse de l'événement</label>
                            <input type="text" id="adresse" class="form-control" ng-model="adresseEvenement">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <!-- TODO CODE postal plus ville widget -->
                            <label for="code-postal">Code postal</label>
                            <input type="number" id="code-postal" class="form-control" ng-model="codePostalEvenement" ng-minlength="5" ng-maxlength="5">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="date">Date</label>
                            <div class="input-group">
                                <input type="text" id="date" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Fermer" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="nombre-participant">Nombre maximal de participants (en vous comptant)</label>
                            <input type="number" id="nombre-participant" class="form-control" ng-model="nbParticipants" ng-min="1" ng-max="5000">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="support">Support</label>
                            <select id="support" class="form-control" ng-model="support" ng-options="support for support in supports">
                                <option value="">-- Choix du support --</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="detail">Détail</label>
                            <textarea id="detail" placeholder="Saisissez ici toute information complémentaire, exemple : merci de ramener une manette supplémentaire etc..." ng-model="detailsCreerEvenement" ></textarea>
                        </div>
                    </div>
                </div>

                <div>
                    <button type="submit" ng-click="validerCreerEvenement()" class="btn btn-primary">Valider</button>
                    <button type="submit" ng-click="retourCreerEvenement()" class="btn btn-warning">Retour</button>
                </div>
            </div>
        </div>
    </form>
</div>