<div ng-controller="InscriptionController">


    <form name="formInscription" class="container-fluid panel panel-default" role="form">

        <div class="panel-heading">Inscrivez-vous à Cooparties !</div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="pseudo" >Pseudo</label>
                        <input type="text" id="pseudo" class="form-control" ng-model="pseudo">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nom">Nom</label>
                        <input type="text" id="nom" class="form-control" ng-model="nom">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="prenom">Prénom</label>
                        <input type="text" id="prenom" class="form-control" ng-model="prenom">
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="mail">Mail</label>
                        <input type="text" id="mail" class="form-control" ng-model="mail">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="mdp">Mot de passe</label>
                        <input type="text" id="mdp" class="form-control" ng-model="mdp">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="confirmation-mdp">Confirmation mot de passe</label>
                        <input type="password" id="confirmation-mdp" class="form-control" ng-model="mdpConfirmation">
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <!-- TODO foutre un calendar -->
                        <label>Date de naissance</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Jour" ng-model="jourNaissance">
                            <select ng-model="moisNaissance" class="form-control" ng-options="mois for mois in listeMois">
                                <option value="">-- Mois --</option>
                            </select>
                            <input type="text" class="form-control" placeholder="Année" ng-model="anneeNaissance">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="sexe">Sexe</label>
                        <select id="sexe" class="form-control" ng-model="moisNaissance"  ng-options="sexe for sexe in sexes">
                            <option value="">Je suis...</option>
                        </select>
                    </div>
                </div>
                
                 <div class="col-md-4">
                    <div class="form-group">
                        <label for="avatar">Avatar</label>
                        <input type="file" id="avatar" class="fileupload" ng-file-select="onFileSelect($files)">
                    </div>
                </div>
                
            </div>

            <div>
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="checkboxCgu">&nbsp;Je certifie que je suis majeur et accepte les <a>conditions générales</a> de Cooparties.
                    </label>
                </div>
                <button type="submit" ng-click="validerCompte()" class="btn btn-primary">Valider</button>
                <button type="submit" ng-click="retourCompte()" class="btn btn-warning">Retour</button>
            </div>
        </div>

    </form>


</div>