<div ng-controller="MesEvenementsController">

    <div class="container-fluid panel panel-default">
        <div class="panel-heading"><h4>Evénements auxquels je participe</h4></div>
        <div class="panel-body">
            <div class="row">
                <div ng-repeat="event in evenementsParticipe" class="col-md-2">
                    <a ui-sref="detailEvenementParticipant" class="thumbnail">
                        <img class="event-game-picture" src="{{event.gamepicture}}">
                        <label class="event-game-title" ng-bind="event.gametitle | uppercase"></label>
                        <div>
                            {{event.date}}
                        </div>
                        <div>
                            <span>{{event.lieu}}</span>
                            <span><i class="glyphicon glyphicon-user"></i><span class="event-participants-number" ng-bind="event.participants"></span></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

 <div class="container-fluid panel panel-default">
        <div class="panel-heading"><h4>Evénements que j'organise</h4></div>
        <div class="panel-body">
            <div class="row">
                <div ng-repeat="event in evenementsOrganise" class="col-md-2">
                    <a ui-sref="detailEvenementParticipant" class="thumbnail" >
                        <img class="event-game-picture" src="{{event.gamepicture}}">
                        <label class="event-game-title" ng-bind="event.gametitle | uppercase"></label>
                        <div>
                            {{event.date}}
                        </div>
                        <div>
                            <span>{{event.lieu}}</span>
                            <span><i class="glyphicon glyphicon-user"></i><span class="event-participants-number" ng-bind="event.participants"></span></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>